<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android"
	id="fi.hsl.dev.navigator-plugin" version="0.1.0">

	<name>HSL Navigator Plugin</name>
	<description>Install HSL Navigator dependencies and configs</description>
	<author>Aalto T-110.5130 - 2014 - Group2</author>
	<license>MIT</license>
	<keywords>HSL,navigator,plugins</keywords>
	<repo>https://github.com/dippi/navigator-plugin.git</repo>
	<issue></issue>

	<dependency id="org.apache.cordova.geolocation" commit="r0.3.7"
		url="https://git-wip-us.apache.org/repos/asf/cordova-plugin-geolocation.git" />
	<dependency id="org.apache.cordova.device-orientation" commit="r0.3.6"
		url="https://git-wip-us.apache.org/repos/asf/cordova-plugin-device-orientation.git" />
	<dependency id="org.apache.cordova.contacts" commit="r0.2.10"
		url="https://git-wip-us.apache.org/repos/asf/cordova-plugin-contacts.git" />
	<dependency id="com.kolwit.pickcontact" commit="master"
		url="https://github.com/aiksiang/com.kolwit.pickcontact.git" />
	<dependency id="com.phonegap.plugins.barcodescanner" commit="1.1.0"
		url="https://github.com/phonegap-build/BarcodeScanner.git" />
	<dependency id="com.red_folder.phonegap.plugin.backgroundservice" 
		url="https://github.com/linzhiqi/bgs-core.git"/>
	<dependency id="com.phonegap.plugins.speech" commit="f7a930fc9788c996bb5e2ce401c08b08e03ba2c0"
		url="https://github.com/mayurloved/speechrecognizer.git" />
	<dependency id="org.apache.cordova.splashscreen" commit="r0.3.0"
		url="https://github.com/apache/cordova-plugin-splashscreen.git" />
		
	<platform name="android">
		<resource-file src="icons/icon.png" target="res/drawable/icon.png" />
		<resource-file src="icons/icon-36-ldpi.png" target="res/drawable-ldpi/icon.png" />
		<resource-file src="icons/icon-48-mdpi.png" target="res/drawable-mdpi/icon.png" />
		<resource-file src="icons/icon-72-hdpi.png" target="res/drawable-hdpi/icon.png" />
		<resource-file src="icons/icon-96-xhdpi.png" target="res/drawable-xhdpi/icon.png" />
		
		<resource-file src="splashscreen/splashscreen.png" target="res/drawable/splashscreen.png" />
		<resource-file src="splashscreen/splashscreen.png" target="res/drawable-ldpi/splashscreen.png" />
		<resource-file src="splashscreen/splashscreen.png" target="res/drawable-mdpi/splashscreen.png" />
		<resource-file src="splashscreen/splashscreen.png" target="res/drawable-hdpi/splashscreen.png" />
		<resource-file src="splashscreen/splashscreen.png" target="res/drawable-xhdpi/splashscreen.png" />
		
		<config-file target="custom_rules.xml" parent="/*">
			<property name="aapt.ignore.assets" value="!.git:.*:docs:node_modules:src:tests:utils:bootstrap.py:buildout.cfg:Gruntfile.coffee:package.json:README.md" />
		</config-file>
	</platform>
</plugin>

